#Ignores for VHDL

# Ignores for Verilog
verilog/work/
verilog/xsim.dir/
verilog/build/
verilog/xvlog.log
verilog/xvlog.pb

# Ignore Vim Swapfiles
*.swp

# Ignore complied directories
boostdsp/
boostdsp_tb/

# Ignore Doxygen output
doc/html/
doc/latex/

# Ignore Modelsim files
vsim.wlf
modelsim.ini
transcript
vsim_stacktrace.vstf
wave.do

